/*! HTML5 Boilerplate v9.0.0-RC1 | MIT License | https://html5boilerplate.com/ */

/* main.css 3.0.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden,
[hidden] {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visually-hidden {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
 * Extends the .visually-hidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visually-hidden.focusable:active,
.visually-hidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * The use of `table` rather than `block` is only necessary if using
 * `::before` to contain the top-margins of child elements.
 */

.clearfix::before,
.clearfix::after {
  content: "";
  display: table;
}

.clearfix::after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: " (" attr(href) ")";
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}

@font-face {
  font-family: 'BN Zeemi';
  src: url("BNZeemi.otf") format('otf');
}

@font-face {
  font-family: 'Mont Blanc';
  src: url("WEB") format('woff');
}

/* Loader Styles */
.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.loader {
  width: 15em;
  height: 8em;
  border-radius: 15px;
  background: conic-gradient(from 0deg at 50% 50%, #FFFFFF, #1d3a3d);
  animation: 1.5s run infinite linear;

}

@keyframes run {
  0% {
    background: conic-gradient(from 0deg at 50% 50%, #FFFFFF, #1d3a3d);
  }

  0.277% {
    background: conic-gradient(from 1deg at 50% 50%, #FFFFFF, #1d3a3d);
  }

  0.554% {
    background: conic-gradient(from 2deg at 50% 50%, #FFFFFF, #1d3a3d);
  }

  0.831% {
    background: conic-gradient(from 3deg at 50% 50%, #FFFFFF, #1d3a3d);
  }

  1.108% {
    background: conic-gradient(from 4deg at 50% 50%, #FFFFFF, #1d3a3d);
  }

  1.385% {
    background: conic-gradient(from 5deg at 50% 50%, #FFFFFF, #1d3a3d);
  }

  1.662% {
    background: conic-gradient(from 6deg at 50% 50%, #FFFFFF, #1d3a3d);
  }

  1.939% {
    background: conic-gradient(from 7deg at 50% 50%, #FFFFFF, #1d3a3d);
  }

  2.216% {
    background: conic-gradient(from 8deg at 50% 50%, #FFFFFF, #1d3a3d);
  }

  2.493% {
    background: conic-gradient(from 9deg at 50% 50%, #FFFFFF, #1d3a3d);
  }

  2.770% {
    background: conic-gradient(from 10deg at 50% 50%, #FFFFFF, #1d3a3d);
  }

  3.047% {
    background: conic-gradient(from 11deg at 50% 50%, #FFFFFF, #1d3a3d);
  }

  3.324% {
    background: conic-gradient(from 12deg at 50% 50%, #FFFFFF, #1d3a3d);
  }

  3.601% {
    background: conic-gradient(from 13deg at 50% 50%, #FFFFFF, #1d3a3d);
  }

  3.878% {
    background: conic-gradient(from 14deg at 50% 50%, #FFFFFF, #1d3a3d);
  }

  4.155% {
    background: conic-gradient(from 15deg at 50% 50%, #FFFFFF, #1d3a3d);
  }

  4.432% {
    background: conic-gradient(from 16deg at 50% 50%, #FFFFFF, #1d3a3d);
  }

  4.709% {
    background: conic-gradient(from 17deg at 50% 50%, #FFFFFF, #1d3a3d);
  }

  4.986% {
    background: conic-gradient(from 18deg at 50% 50%, #FFFFFF, #1d3a3d);
  }

  5.263% {
    background: conic-gradient(from 19deg at 50% 50%, #FFFFFF, #1d3a3d);
  }

  5.540% {
    background: conic-gradient(from 20deg at 50% 50%, #FFFFFF, #1d3a3d);
  }

  5.817% {
    background: conic-gradient(from 21deg at 50% 50%, #FFFFFF, #1d3a3d);
  }

  6.094% {
    background: conic-gradient(from 22deg at 50% 50%, #FFFFFF, #1d3a3d);
  }

  6.371% {
    background: conic-gradient(from 23deg at 50% 50%, #FFFFFF, #1d3a3d);
  }

  6.648% {
    background: conic-gradient(from 24deg at 50% 50%, #FFFFFF, #1d3a3d);
  }

  6.925% {
    background: conic-gradient(from 25deg at 50% 50%, #FFFFFF, #1d3a3d);
  }

  7.202% {
    background: conic-gradient(from 26deg at 50% 50%, #FFFFFF, #1d3a3d);
  }

  7.479% {
    background: conic-gradient(from 27deg at 50% 50%, #FFFFFF, #1d3a3d);
  }

  7.756% {
    background: conic-gradient(from 28deg at 50% 50%, #FFFFFF, #1d3a3d);
  }

  8.033% {
    background: conic-gradient(from 29deg at 50% 50%, #FFFFFF, #1d3a3d);
  }

  8.310% {
    background: conic-gradient(from 30deg at 50% 50%, #FFFFFF, #1d3a3d);
  }

  8.587% {
    background: conic-gradient(from 31deg at 50% 50%, #FFFFFF, #1d3a3d);
  }

  8.864% {
    background: conic-gradient(from 32deg at 50% 50%, #FFFFFF, #1d3a3d);
  }

  9.141% {
    background: conic-gradient(from 33deg at 50% 50%, #FFFFFF, #1d3a3d);
  }

  9.418% {
    background: conic-gradient(from 34deg at 50% 50%, #FFFFFF, #1d3a3d);
  }

  9.695% {
    background: conic-gradient(from 35deg at 50% 50%, #FFFFFF, #1d3a3d);
  }

  9.972% {
    background: conic-gradient(from 36deg at 50% 50%, #FFFFFF, #1d3a3d);
  }

  10.249% {
    background: conic-gradient(from 37deg at 50% 50%, #FFFFFF, #1d3a3d);
  }

  10.526% {
    background: conic-gradient(from 38deg at 50% 50%, #FFFFFF, #1d3a3d);
  }

  10.803% {
    background: conic-gradient(from 39deg at 50% 50%, #FFFFFF, #1d3a3d);
  }

  11.080% {
    background: conic-gradient(from 40deg at 50% 50%, #FFFFFF, #1d3a3d);
  }

  11.357% {
    background: conic-gradient(from 41deg at 50% 50%, #FFFFFF, #1d3a3d);
  }

  11.634% {
    background: conic-gradient(from 42deg at 50% 50%, #FFFFFF, #1d3a3d);
  }

  11.911% {
    background: conic-gradient(from 43deg at 50% 50%, #FFFFFF, #1d3a3d);
  }

  12.188% {
    background: conic-gradient(from 44deg at 50% 50%, #FFFFFF, #1d3a3d);
  }

  12.465% {
    background: conic-gradient(from 45deg at 50% 50%, #FFFFFF, #1d3a3d);
  }

  12.742% {
    background: conic-gradient(from 46deg at 50% 50%, #FFFFFF, #1d3a3d);
  }

  13.019% {
    background: conic-gradient(from 47deg at 50% 50%, #FFFFFF, #1d3a3d);
  }

  13.296% {
    background: conic-gradient(from 48deg at 50% 50%, #FFFFFF, #1d3a3d);
  }

  13.573% {
    background: conic-gradient(from 49deg at 50% 50%, #FFFFFF, #1d3a3d);
  }

  13.850% {
    background: conic-gradient(from 50deg at 50% 50%, #FFFFFF, #1d3a3d);
  }

  14.127% {
    background: conic-gradient(from 51deg at 50% 50%, #FFFFFF, #1d3a3d);
  }

  14.404% {
    background: conic-gradient(from 52deg at 50% 50%, #FFFFFF, #1d3a3d);
  }

  14.681% {
    background: conic-gradient(from 53deg at 50% 50%, #FFFFFF, #1d3a3d);
  }

  14.958% {
    background: conic-gradient(from 54deg at 50% 50%, #FFFFFF, #1d3a3d);
  }

  15.235% {
    background: conic-gradient(from 55deg at 50% 50%, #FFFFFF, #1d3a3d);
  }

  15.512% {
    background: conic-gradient(from 56deg at 50% 50%, #FFFFFF, #1d3a3d);
  }

  15.789% {
    background: conic-gradient(from 57deg at 50% 50%, #FFFFFF, #1d3a3d);
  }

  16.066% {
    background: conic-gradient(from 58deg at 50% 50%, #FFFFFF, #1d3a3d);
  }

  16.343% {
    background: conic-gradient(from 59deg at 50% 50%, #FFFFFF, #1d3a3d);
  }

  16.620% {
    background: conic-gradient(from 60deg at 50% 50%, #FFFFFF, #1d3a3d);
  }

  16.897% {
    background: conic-gradient(from 61deg at 50% 50%, #FFFFFF, #1d3a3d);
  }

  17.174% {
    background: conic-gradient(from 62deg at 50% 50%, #FFFFFF, #1d3a3d);
  }

  17.451% {
    background: conic-gradient(from 63deg at 50% 50%, #FFFFFF, #1d3a3d);
  }

  17.728% {
    background: conic-gradient(from 64deg at 50% 50%, #FFFFFF, #1d3a3d);
  }

  18.005% {
    background: conic-gradient(from 65deg at 50% 50%, #FFFFFF, #1d3a3d);
  }

  18.282% {
    background: conic-gradient(from 66deg at 50% 50%, #FFFFFF, #1d3a3d);
  }

  18.559% {
    background: conic-gradient(from 67deg at 50% 50%, #FFFFFF, #1d3a3d);
  }

  18.836% {
    background: conic-gradient(from 68deg at 50% 50%, #FFFFFF, #1d3a3d);
  }

  19.113% {
    background: conic-gradient(from 69deg at 50% 50%, #FFFFFF, #1d3a3d);
  }

  19.390% {
    background: conic-gradient(from 70deg at 50% 50%, #FFFFFF, #1d3a3d);
  }

  19.667% {
    background: conic-gradient(from 71deg at 50% 50%, #FFFFFF, #1d3a3d);
  }

  19.944% {
    background: conic-gradient(from 72deg at 50% 50%, #FFFFFF, #1d3a3d);
  }

  20.221% {
    background: conic-gradient(from 73deg at 50% 50%, #FFFFFF, #1d3a3d);
  }

  20.498% {
    background: conic-gradient(from 74deg at 50% 50%, #FFFFFF, #1d3a3d);
  }

  20.775% {
    background: conic-gradient(from 75deg at 50% 50%, #FFFFFF, #1d3a3d);
  }

  21.052% {
    background: conic-gradient(from 76deg at 50% 50%, #FFFFFF, #1d3a3d);
  }

  21.329% {
    background: conic-gradient(from 77deg at 50% 50%, #FFFFFF, #1d3a3d);
  }

  21.606% {
    background: conic-gradient(from 78deg at 50% 50%, #FFFFFF, #1d3a3d);
  }

  21.883% {
    background: conic-gradient(from 79deg at 50% 50%, #FFFFFF, #1d3a3d);
  }

  22.160% {
    background: conic-gradient(from 80deg at 50% 50%, #FFFFFF, #1d3a3d);
  }

  22.437% {
    background: conic-gradient(from 81deg at 50% 50%, #FFFFFF, #1d3a3d);
  }

  22.714% {
    background: conic-gradient(from 82deg at 50% 50%, #FFFFFF, #1d3a3d);
  }

  22.991% {
    background: conic-gradient(from 83deg at 50% 50%, #FFFFFF, #1d3a3d);
  }

  23.268% {
    background: conic-gradient(from 84deg at 50% 50%, #FFFFFF, #1d3a3d);
  }

  23.545% {
    background: conic-gradient(from 85deg at 50% 50%, #FFFFFF, #1d3a3d);
  }

  23.822% {
    background: conic-gradient(from 86deg at 50% 50%, #FFFFFF, #1d3a3d);
  }

  24.099% {
    background: conic-gradient(from 87deg at 50% 50%, #FFFFFF, #1d3a3d);
  }

  24.376% {
    background: conic-gradient(from 88deg at 50% 50%, #FFFFFF, #1d3a3d);
  }

  24.653% {
    background: conic-gradient(from 89deg at 50% 50%, #FFFFFF, #1d3a3d);
  }

  24.930% {
    background: conic-gradient(from 90deg at 50% 50%, #FFFFFF, #1d3a3d);
  }

  25.207% {
    background: conic-gradient(from 91deg at 50% 50%, #FFFFFF, #1d3a3d);
  }

  25.484% {
    background: conic-gradient(from 92deg at 50% 50%, #FFFFFF, #1d3a3d);
  }

  25.761% {
    background: conic-gradient(from 93deg at 50% 50%, #FFFFFF, #1d3a3d);
  }

  26.038% {
    background: conic-gradient(from 94deg at 50% 50%, #FFFFFF, #1d3a3d);
  }

  26.315% {
    background: conic-gradient(from 95deg at 50% 50%, #FFFFFF, #1d3a3d);
  }

  26.592% {
    background: conic-gradient(from 96deg at 50% 50%, #FFFFFF, #1d3a3d);
  }

  26.869% {
    background: conic-gradient(from 97deg at 50% 50%, #FFFFFF, #1d3a3d);
  }

  27.146% {
    background: conic-gradient(from 98deg at 50% 50%, #FFFFFF, #1d3a3d);
  }

  27.423% {
    background: conic-gradient(from 99deg at 50% 50%, #FFFFFF, #1d3a3d);
  }

  27.700% {
    background: conic-gradient(from 100deg at 50% 50%, #FFFFFF, #1d3a3d);
  }

  27.977% {
    background: conic-gradient(from 101deg at 50% 50%, #FFFFFF, #1d3a3d);
  }

  28.254% {
    background: conic-gradient(from 102deg at 50% 50%, #FFFFFF, #1d3a3d);
  }

  28.531% {
    background: conic-gradient(from 103deg at 50% 50%, #FFFFFF, #1d3a3d);
  }

  28.808% {
    background: conic-gradient(from 104deg at 50% 50%, #FFFFFF, #1d3a3d);
  }

  29.085% {
    background: conic-gradient(from 105deg at 50% 50%, #FFFFFF, #1d3a3d);
  }

  29.362% {
    background: conic-gradient(from 106deg at 50% 50%, #FFFFFF, #1d3a3d);
  }

  29.639% {
    background: conic-gradient(from 107deg at 50% 50%, #FFFFFF, #1d3a3d);
  }

  29.916% {
    background: conic-gradient(from 108deg at 50% 50%, #FFFFFF, #1d3a3d);
  }

  30.193% {
    background: conic-gradient(from 109deg at 50% 50%, #FFFFFF, #1d3a3d);
  }

  30.470% {
    background: conic-gradient(from 110deg at 50% 50%, #FFFFFF, #1d3a3d);
  }

  30.747% {
    background: conic-gradient(from 111deg at 50% 50%, #FFFFFF, #1d3a3d);
  }

  31.024% {
    background: conic-gradient(from 112deg at 50% 50%, #FFFFFF, #1d3a3d);
  }

  31.301% {
    background: conic-gradient(from 113deg at 50% 50%, #FFFFFF, #1d3a3d);
  }

  31.578% {
    background: conic-gradient(from 114deg at 50% 50%, #FFFFFF, #1d3a3d);
  }

  31.855% {
    background: conic-gradient(from 115deg at 50% 50%, #FFFFFF, #1d3a3d);
  }

  32.132% {
    background: conic-gradient(from 116deg at 50% 50%, #FFFFFF, #1d3a3d);
  }

  32.409% {
    background: conic-gradient(from 117deg at 50% 50%, #FFFFFF, #1d3a3d);
  }

  32.686% {
    background: conic-gradient(from 118deg at 50% 50%, #FFFFFF, #1d3a3d);
  }

  32.963% {
    background: conic-gradient(from 119deg at 50% 50%, #FFFFFF, #1d3a3d);
  }

  33.240% {
    background: conic-gradient(from 120deg at 50% 50%, #FFFFFF, #1d3a3d);
  }

  33.517% {
    background: conic-gradient(from 121deg at 50% 50%, #FFFFFF, #1d3a3d);
  }

  33.794% {
    background: conic-gradient(from 122deg at 50% 50%, #FFFFFF, #1d3a3d);
  }

  34.071% {
    background: conic-gradient(from 123deg at 50% 50%, #FFFFFF, #1d3a3d);
  }

  34.348% {
    background: conic-gradient(from 124deg at 50% 50%, #FFFFFF, #1d3a3d);
  }

  34.625% {
    background: conic-gradient(from 125deg at 50% 50%, #FFFFFF, #1d3a3d);
  }

  34.902% {
    background: conic-gradient(from 126deg at 50% 50%, #FFFFFF, #1d3a3d);
  }

  35.179% {
    background: conic-gradient(from 127deg at 50% 50%, #FFFFFF, #1d3a3d);
  }

  35.456% {
    background: conic-gradient(from 128deg at 50% 50%, #FFFFFF, #1d3a3d);
  }

  35.733% {
    background: conic-gradient(from 129deg at 50% 50%, #FFFFFF, #1d3a3d);
  }

  36.010% {
    background: conic-gradient(from 130deg at 50% 50%, #FFFFFF, #1d3a3d);
  }

  36.287% {
    background: conic-gradient(from 131deg at 50% 50%, #FFFFFF, #1d3a3d);
  }

  36.564% {
    background: conic-gradient(from 132deg at 50% 50%, #FFFFFF, #1d3a3d);
  }

  36.841% {
    background: conic-gradient(from 133deg at 50% 50%, #FFFFFF, #1d3a3d);
  }

  37.118% {
    background: conic-gradient(from 134deg at 50% 50%, #FFFFFF, #1d3a3d);
  }

  37.395% {
    background: conic-gradient(from 135deg at 50% 50%, #FFFFFF, #1d3a3d);
  }

  37.672% {
    background: conic-gradient(from 136deg at 50% 50%, #FFFFFF, #1d3a3d);
  }

  37.949% {
    background: conic-gradient(from 137deg at 50% 50%, #FFFFFF, #1d3a3d);
  }

  38.226% {
    background: conic-gradient(from 138deg at 50% 50%, #FFFFFF, #1d3a3d);
  }

  38.503% {
    background: conic-gradient(from 139deg at 50% 50%, #FFFFFF, #1d3a3d);
  }

  38.780% {
    background: conic-gradient(from 140deg at 50% 50%, #FFFFFF, #1d3a3d);
  }

  39.057% {
    background: conic-gradient(from 141deg at 50% 50%, #FFFFFF, #1d3a3d);
  }

  39.334% {
    background: conic-gradient(from 142deg at 50% 50%, #FFFFFF, #1d3a3d);
  }

  39.611% {
    background: conic-gradient(from 143deg at 50% 50%, #FFFFFF, #1d3a3d);
  }

  39.888% {
    background: conic-gradient(from 144deg at 50% 50%, #FFFFFF, #1d3a3d);
  }

  40.165% {
    background: conic-gradient(from 145deg at 50% 50%, #FFFFFF, #1d3a3d);
  }

  40.442% {
    background: conic-gradient(from 146deg at 50% 50%, #FFFFFF, #1d3a3d);
  }

  40.719% {
    background: conic-gradient(from 147deg at 50% 50%, #FFFFFF, #1d3a3d);
  }

  40.996% {
    background: conic-gradient(from 148deg at 50% 50%, #FFFFFF, #1d3a3d);
  }

  41.273% {
    background: conic-gradient(from 149deg at 50% 50%, #FFFFFF, #1d3a3d);
  }

  41.550% {
    background: conic-gradient(from 150deg at 50% 50%, #FFFFFF, #1d3a3d);
  }

  41.827% {
    background: conic-gradient(from 151deg at 50% 50%, #FFFFFF, #1d3a3d);
  }

  42.104% {
    background: conic-gradient(from 152deg at 50% 50%, #FFFFFF, #1d3a3d);
  }

  42.381% {
    background: conic-gradient(from 153deg at 50% 50%, #FFFFFF, #1d3a3d);
  }

  42.658% {
    background: conic-gradient(from 154deg at 50% 50%, #FFFFFF, #1d3a3d);
  }

  42.935% {
    background: conic-gradient(from 155deg at 50% 50%, #FFFFFF, #1d3a3d);
  }

  43.212% {
    background: conic-gradient(from 156deg at 50% 50%, #FFFFFF, #1d3a3d);
  }

  43.489% {
    background: conic-gradient(from 157deg at 50% 50%, #FFFFFF, #1d3a3d);
  }

  43.766% {
    background: conic-gradient(from 158deg at 50% 50%, #FFFFFF, #1d3a3d);
  }

  44.043% {
    background: conic-gradient(from 159deg at 50% 50%, #FFFFFF, #1d3a3d);
  }

  44.320% {
    background: conic-gradient(from 160deg at 50% 50%, #FFFFFF, #1d3a3d);
  }

  44.597% {
    background: conic-gradient(from 161deg at 50% 50%, #FFFFFF, #1d3a3d);
  }

  44.874% {
    background: conic-gradient(from 162deg at 50% 50%, #FFFFFF, #1d3a3d);
  }

  45.151% {
    background: conic-gradient(from 163deg at 50% 50%, #FFFFFF, #1d3a3d);
  }

  45.428% {
    background: conic-gradient(from 164deg at 50% 50%, #FFFFFF, #1d3a3d);
  }

  45.705% {
    background: conic-gradient(from 165deg at 50% 50%, #FFFFFF, #1d3a3d);
  }

  45.982% {
    background: conic-gradient(from 166deg at 50% 50%, #FFFFFF, #1d3a3d);
  }

  46.259% {
    background: conic-gradient(from 167deg at 50% 50%, #FFFFFF, #1d3a3d);
  }

  46.536% {
    background: conic-gradient(from 168deg at 50% 50%, #FFFFFF, #1d3a3d);
  }

  46.813% {
    background: conic-gradient(from 169deg at 50% 50%, #FFFFFF, #1d3a3d);
  }

  47.090% {
    background: conic-gradient(from 170deg at 50% 50%, #FFFFFF, #1d3a3d);
  }

  47.367% {
    background: conic-gradient(from 171deg at 50% 50%, #FFFFFF, #1d3a3d);
  }

  47.644% {
    background: conic-gradient(from 172deg at 50% 50%, #FFFFFF, #1d3a3d);
  }

  47.921% {
    background: conic-gradient(from 173deg at 50% 50%, #FFFFFF, #1d3a3d);
  }

  48.198% {
    background: conic-gradient(from 174deg at 50% 50%, #FFFFFF, #1d3a3d);
  }

  48.475% {
    background: conic-gradient(from 175deg at 50% 50%, #FFFFFF, #1d3a3d);
  }

  48.752% {
    background: conic-gradient(from 176deg at 50% 50%, #FFFFFF, #1d3a3d);
  }

  49.029% {
    background: conic-gradient(from 177deg at 50% 50%, #FFFFFF, #1d3a3d);
  }

  49.306% {
    background: conic-gradient(from 178deg at 50% 50%, #FFFFFF, #1d3a3d);
  }

  49.583% {
    background: conic-gradient(from 179deg at 50% 50%, #FFFFFF, #1d3a3d);
  }

  49.860% {
    background: conic-gradient(from 180deg at 50% 50%, #FFFFFF, #1d3a3d);
  }

  50.137% {
    background: conic-gradient(from 181deg at 50% 50%, #FFFFFF, #1d3a3d);
  }

  50.414% {
    background: conic-gradient(from 182deg at 50% 50%, #FFFFFF, #1d3a3d);
  }

  50.691% {
    background: conic-gradient(from 183deg at 50% 50%, #FFFFFF, #1d3a3d);
  }

  50.968% {
    background: conic-gradient(from 184deg at 50% 50%, #FFFFFF, #1d3a3d);
  }

  51.245% {
    background: conic-gradient(from 185deg at 50% 50%, #FFFFFF, #1d3a3d);
  }

  51.522% {
    background: conic-gradient(from 186deg at 50% 50%, #FFFFFF, #1d3a3d);
  }

  51.799% {
    background: conic-gradient(from 187deg at 50% 50%, #FFFFFF, #1d3a3d);
  }

  52.076% {
    background: conic-gradient(from 188deg at 50% 50%, #FFFFFF, #1d3a3d);
  }

  52.353% {
    background: conic-gradient(from 189deg at 50% 50%, #FFFFFF, #1d3a3d);
  }

  52.630% {
    background: conic-gradient(from 190deg at 50% 50%, #FFFFFF, #1d3a3d);
  }

  52.907% {
    background: conic-gradient(from 191deg at 50% 50%, #FFFFFF, #1d3a3d);
  }

  53.184% {
    background: conic-gradient(from 192deg at 50% 50%, #FFFFFF, #1d3a3d);
  }

  53.461% {
    background: conic-gradient(from 193deg at 50% 50%, #FFFFFF, #1d3a3d);
  }

  53.738% {
    background: conic-gradient(from 194deg at 50% 50%, #FFFFFF, #1d3a3d);
  }

  54.015% {
    background: conic-gradient(from 195deg at 50% 50%, #FFFFFF, #1d3a3d);
  }

  54.292% {
    background: conic-gradient(from 196deg at 50% 50%, #FFFFFF, #1d3a3d);
  }

  54.569% {
    background: conic-gradient(from 197deg at 50% 50%, #FFFFFF, #1d3a3d);
  }

  54.846% {
    background: conic-gradient(from 198deg at 50% 50%, #FFFFFF, #1d3a3d);
  }

  55.123% {
    background: conic-gradient(from 199deg at 50% 50%, #FFFFFF, #1d3a3d);
  }

  55.400% {
    background: conic-gradient(from 200deg at 50% 50%, #FFFFFF, #1d3a3d);
  }

  55.677% {
    background: conic-gradient(from 201deg at 50% 50%, #FFFFFF, #1d3a3d);
  }

  55.954% {
    background: conic-gradient(from 202deg at 50% 50%, #FFFFFF, #1d3a3d);
  }

  56.231% {
    background: conic-gradient(from 203deg at 50% 50%, #FFFFFF, #1d3a3d);
  }

  56.508% {
    background: conic-gradient(from 204deg at 50% 50%, #FFFFFF, #1d3a3d);
  }

  56.785% {
    background: conic-gradient(from 205deg at 50% 50%, #FFFFFF, #1d3a3d);
  }

  57.062% {
    background: conic-gradient(from 206deg at 50% 50%, #FFFFFF, #1d3a3d);
  }

  57.339% {
    background: conic-gradient(from 207deg at 50% 50%, #FFFFFF, #1d3a3d);
  }

  57.616% {
    background: conic-gradient(from 208deg at 50% 50%, #FFFFFF, #1d3a3d);
  }

  57.893% {
    background: conic-gradient(from 209deg at 50% 50%, #FFFFFF, #1d3a3d);
  }

  58.170% {
    background: conic-gradient(from 210deg at 50% 50%, #FFFFFF, #1d3a3d);
  }

  58.447% {
    background: conic-gradient(from 211deg at 50% 50%, #FFFFFF, #1d3a3d);
  }

  58.724% {
    background: conic-gradient(from 212deg at 50% 50%, #FFFFFF, #1d3a3d);
  }

  59.001% {
    background: conic-gradient(from 213deg at 50% 50%, #FFFFFF, #1d3a3d);
  }

  59.278% {
    background: conic-gradient(from 214deg at 50% 50%, #FFFFFF, #1d3a3d);
  }

  59.555% {
    background: conic-gradient(from 215deg at 50% 50%, #FFFFFF, #1d3a3d);
  }

  59.832% {
    background: conic-gradient(from 216deg at 50% 50%, #FFFFFF, #1d3a3d);
  }

  60.109% {
    background: conic-gradient(from 217deg at 50% 50%, #FFFFFF, #1d3a3d);
  }

  60.386% {
    background: conic-gradient(from 218deg at 50% 50%, #FFFFFF, #1d3a3d);
  }

  60.663% {
    background: conic-gradient(from 219deg at 50% 50%, #FFFFFF, #1d3a3d);
  }

  60.940% {
    background: conic-gradient(from 220deg at 50% 50%, #FFFFFF, #1d3a3d);
  }

  61.217% {
    background: conic-gradient(from 221deg at 50% 50%, #FFFFFF, #1d3a3d);
  }

  61.494% {
    background: conic-gradient(from 222deg at 50% 50%, #FFFFFF, #1d3a3d);
  }

  61.771% {
    background: conic-gradient(from 223deg at 50% 50%, #FFFFFF, #1d3a3d);
  }

  62.048% {
    background: conic-gradient(from 224deg at 50% 50%, #FFFFFF, #1d3a3d);
  }

  62.325% {
    background: conic-gradient(from 225deg at 50% 50%, #FFFFFF, #1d3a3d);
  }

  62.602% {
    background: conic-gradient(from 226deg at 50% 50%, #FFFFFF, #1d3a3d);
  }

  62.879% {
    background: conic-gradient(from 227deg at 50% 50%, #FFFFFF, #1d3a3d);
  }

  63.156% {
    background: conic-gradient(from 228deg at 50% 50%, #FFFFFF, #1d3a3d);
  }

  63.433% {
    background: conic-gradient(from 229deg at 50% 50%, #FFFFFF, #1d3a3d);
  }

  63.710% {
    background: conic-gradient(from 230deg at 50% 50%, #FFFFFF, #1d3a3d);
  }

  63.987% {
    background: conic-gradient(from 231deg at 50% 50%, #FFFFFF, #1d3a3d);
  }

  64.264% {
    background: conic-gradient(from 232deg at 50% 50%, #FFFFFF, #1d3a3d);
  }

  64.541% {
    background: conic-gradient(from 233deg at 50% 50%, #FFFFFF, #1d3a3d);
  }

  64.818% {
    background: conic-gradient(from 234deg at 50% 50%, #FFFFFF, #1d3a3d);
  }

  65.095% {
    background: conic-gradient(from 235deg at 50% 50%, #FFFFFF, #1d3a3d);
  }

  65.372% {
    background: conic-gradient(from 236deg at 50% 50%, #FFFFFF, #1d3a3d);
  }

  65.649% {
    background: conic-gradient(from 237deg at 50% 50%, #FFFFFF, #1d3a3d);
  }

  65.926% {
    background: conic-gradient(from 238deg at 50% 50%, #FFFFFF, #1d3a3d);
  }

  66.203% {
    background: conic-gradient(from 239deg at 50% 50%, #FFFFFF, #1d3a3d);
  }

  66.480% {
    background: conic-gradient(from 240deg at 50% 50%, #FFFFFF, #1d3a3d);
  }

  66.757% {
    background: conic-gradient(from 241deg at 50% 50%, #FFFFFF, #1d3a3d);
  }

  67.034% {
    background: conic-gradient(from 242deg at 50% 50%, #FFFFFF, #1d3a3d);
  }

  67.311% {
    background: conic-gradient(from 243deg at 50% 50%, #FFFFFF, #1d3a3d);
  }

  67.588% {
    background: conic-gradient(from 244deg at 50% 50%, #FFFFFF, #1d3a3d);
  }

  67.865% {
    background: conic-gradient(from 245deg at 50% 50%, #FFFFFF, #1d3a3d);
  }

  68.142% {
    background: conic-gradient(from 246deg at 50% 50%, #FFFFFF, #1d3a3d);
  }

  68.419% {
    background: conic-gradient(from 247deg at 50% 50%, #FFFFFF, #1d3a3d);
  }

  68.696% {
    background: conic-gradient(from 248deg at 50% 50%, #FFFFFF, #1d3a3d);
  }

  68.973% {
    background: conic-gradient(from 249deg at 50% 50%, #FFFFFF, #1d3a3d);
  }

  69.250% {
    background: conic-gradient(from 250deg at 50% 50%, #FFFFFF, #1d3a3d);
  }

  69.527% {
    background: conic-gradient(from 251deg at 50% 50%, #FFFFFF, #1d3a3d);
  }

  69.804% {
    background: conic-gradient(from 252deg at 50% 50%, #FFFFFF, #1d3a3d);
  }

  70.081% {
    background: conic-gradient(from 253deg at 50% 50%, #FFFFFF, #1d3a3d);
  }

  70.358% {
    background: conic-gradient(from 254deg at 50% 50%, #FFFFFF, #1d3a3d);
  }

  70.635% {
    background: conic-gradient(from 255deg at 50% 50%, #FFFFFF, #1d3a3d);
  }

  70.912% {
    background: conic-gradient(from 256deg at 50% 50%, #FFFFFF, #1d3a3d);
  }

  71.189% {
    background: conic-gradient(from 257deg at 50% 50%, #FFFFFF, #1d3a3d);
  }

  71.466% {
    background: conic-gradient(from 258deg at 50% 50%, #FFFFFF, #1d3a3d);
  }

  71.743% {
    background: conic-gradient(from 259deg at 50% 50%, #FFFFFF, #1d3a3d);
  }

  72.020% {
    background: conic-gradient(from 260deg at 50% 50%, #FFFFFF, #1d3a3d);
  }

  72.297% {
    background: conic-gradient(from 261deg at 50% 50%, #FFFFFF, #1d3a3d);
  }

  72.574% {
    background: conic-gradient(from 262deg at 50% 50%, #FFFFFF, #1d3a3d);
  }

  72.851% {
    background: conic-gradient(from 263deg at 50% 50%, #FFFFFF, #1d3a3d);
  }

  73.128% {
    background: conic-gradient(from 264deg at 50% 50%, #FFFFFF, #1d3a3d);
  }

  73.405% {
    background: conic-gradient(from 265deg at 50% 50%, #FFFFFF, #1d3a3d);
  }

  73.682% {
    background: conic-gradient(from 266deg at 50% 50%, #FFFFFF, #1d3a3d);
  }

  73.959% {
    background: conic-gradient(from 267deg at 50% 50%, #FFFFFF, #1d3a3d);
  }

  74.236% {
    background: conic-gradient(from 268deg at 50% 50%, #FFFFFF, #1d3a3d);
  }

  74.513% {
    background: conic-gradient(from 269deg at 50% 50%, #FFFFFF, #1d3a3d);
  }

  74.790% {
    background: conic-gradient(from 270deg at 50% 50%, #FFFFFF, #1d3a3d);
  }

  75.067% {
    background: conic-gradient(from 271deg at 50% 50%, #FFFFFF, #1d3a3d);
  }

  75.344% {
    background: conic-gradient(from 272deg at 50% 50%, #FFFFFF, #1d3a3d);
  }

  75.621% {
    background: conic-gradient(from 273deg at 50% 50%, #FFFFFF, #1d3a3d);
  }

  75.898% {
    background: conic-gradient(from 274deg at 50% 50%, #FFFFFF, #1d3a3d);
  }

  76.175% {
    background: conic-gradient(from 275deg at 50% 50%, #FFFFFF, #1d3a3d);
  }

  76.452% {
    background: conic-gradient(from 276deg at 50% 50%, #FFFFFF, #1d3a3d);
  }

  76.729% {
    background: conic-gradient(from 277deg at 50% 50%, #FFFFFF, #1d3a3d);
  }

  77.006% {
    background: conic-gradient(from 278deg at 50% 50%, #FFFFFF, #1d3a3d);
  }

  77.283% {
    background: conic-gradient(from 279deg at 50% 50%, #FFFFFF, #1d3a3d);
  }

  77.560% {
    background: conic-gradient(from 280deg at 50% 50%, #FFFFFF, #1d3a3d);
  }

  77.837% {
    background: conic-gradient(from 281deg at 50% 50%, #FFFFFF, #1d3a3d);
  }

  78.114% {
    background: conic-gradient(from 282deg at 50% 50%, #FFFFFF, #1d3a3d);
  }

  78.391% {
    background: conic-gradient(from 283deg at 50% 50%, #FFFFFF, #1d3a3d);
  }

  78.668% {
    background: conic-gradient(from 284deg at 50% 50%, #FFFFFF, #1d3a3d);
  }

  78.945% {
    background: conic-gradient(from 285deg at 50% 50%, #FFFFFF, #1d3a3d);
  }

  79.222% {
    background: conic-gradient(from 286deg at 50% 50%, #FFFFFF, #1d3a3d);
  }

  79.499% {
    background: conic-gradient(from 287deg at 50% 50%, #FFFFFF, #1d3a3d);
  }

  79.776% {
    background: conic-gradient(from 288deg at 50% 50%, #FFFFFF, #1d3a3d);
  }

  80.053% {
    background: conic-gradient(from 289deg at 50% 50%, #FFFFFF, #1d3a3d);
  }

  80.330% {
    background: conic-gradient(from 290deg at 50% 50%, #FFFFFF, #1d3a3d);
  }

  80.607% {
    background: conic-gradient(from 291deg at 50% 50%, #FFFFFF, #1d3a3d);
  }

  80.884% {
    background: conic-gradient(from 292deg at 50% 50%, #FFFFFF, #1d3a3d);
  }

  81.161% {
    background: conic-gradient(from 293deg at 50% 50%, #FFFFFF, #1d3a3d);
  }

  81.438% {
    background: conic-gradient(from 294deg at 50% 50%, #FFFFFF, #1d3a3d);
  }

  81.715% {
    background: conic-gradient(from 295deg at 50% 50%, #FFFFFF, #1d3a3d);
  }

  81.992% {
    background: conic-gradient(from 296deg at 50% 50%, #FFFFFF, #1d3a3d);
  }

  82.269% {
    background: conic-gradient(from 297deg at 50% 50%, #FFFFFF, #1d3a3d);
  }

  82.546% {
    background: conic-gradient(from 298deg at 50% 50%, #FFFFFF, #1d3a3d);
  }

  82.823% {
    background: conic-gradient(from 299deg at 50% 50%, #FFFFFF, #1d3a3d);
  }

  83.100% {
    background: conic-gradient(from 300deg at 50% 50%, #FFFFFF, #1d3a3d);
  }

  83.377% {
    background: conic-gradient(from 301deg at 50% 50%, #FFFFFF, #1d3a3d);
  }

  83.654% {
    background: conic-gradient(from 302deg at 50% 50%, #FFFFFF, #1d3a3d);
  }

  83.931% {
    background: conic-gradient(from 303deg at 50% 50%, #FFFFFF, #1d3a3d);
  }

  84.208% {
    background: conic-gradient(from 304deg at 50% 50%, #FFFFFF, #1d3a3d);
  }

  84.485% {
    background: conic-gradient(from 305deg at 50% 50%, #FFFFFF, #1d3a3d);
  }

  84.762% {
    background: conic-gradient(from 306deg at 50% 50%, #FFFFFF, #1d3a3d);
  }

  85.039% {
    background: conic-gradient(from 307deg at 50% 50%, #FFFFFF, #1d3a3d);
  }

  85.316% {
    background: conic-gradient(from 308deg at 50% 50%, #FFFFFF, #1d3a3d);
  }

  85.593% {
    background: conic-gradient(from 309deg at 50% 50%, #FFFFFF, #1d3a3d);
  }

  85.870% {
    background: conic-gradient(from 310deg at 50% 50%, #FFFFFF, #1d3a3d);
  }

  86.147% {
    background: conic-gradient(from 311deg at 50% 50%, #FFFFFF, #1d3a3d);
  }

  86.424% {
    background: conic-gradient(from 312deg at 50% 50%, #FFFFFF, #1d3a3d);
  }

  86.701% {
    background: conic-gradient(from 313deg at 50% 50%, #FFFFFF, #1d3a3d);
  }

  86.978% {
    background: conic-gradient(from 314deg at 50% 50%, #FFFFFF, #1d3a3d);
  }

  87.255% {
    background: conic-gradient(from 315deg at 50% 50%, #FFFFFF, #1d3a3d);
  }

  87.532% {
    background: conic-gradient(from 316deg at 50% 50%, #FFFFFF, #1d3a3d);
  }

  87.809% {
    background: conic-gradient(from 317deg at 50% 50%, #FFFFFF, #1d3a3d);
  }

  88.086% {
    background: conic-gradient(from 318deg at 50% 50%, #FFFFFF, #1d3a3d);
  }

  88.363% {
    background: conic-gradient(from 319deg at 50% 50%, #FFFFFF, #1d3a3d);
  }

  88.640% {
    background: conic-gradient(from 320deg at 50% 50%, #FFFFFF, #1d3a3d);
  }

  88.917% {
    background: conic-gradient(from 321deg at 50% 50%, #FFFFFF, #1d3a3d);
  }

  89.194% {
    background: conic-gradient(from 322deg at 50% 50%, #FFFFFF, #1d3a3d);
  }

  89.471% {
    background: conic-gradient(from 323deg at 50% 50%, #FFFFFF, #1d3a3d);
  }

  89.748% {
    background: conic-gradient(from 324deg at 50% 50%, #FFFFFF, #1d3a3d);
  }

  90.025% {
    background: conic-gradient(from 325deg at 50% 50%, #FFFFFF, #1d3a3d);
  }

  90.302% {
    background: conic-gradient(from 326deg at 50% 50%, #FFFFFF, #1d3a3d);
  }

  90.579% {
    background: conic-gradient(from 327deg at 50% 50%, #FFFFFF, #1d3a3d);
  }

  90.856% {
    background: conic-gradient(from 328deg at 50% 50%, #FFFFFF, #1d3a3d);
  }

  91.133% {
    background: conic-gradient(from 329deg at 50% 50%, #FFFFFF, #1d3a3d);
  }

  91.410% {
    background: conic-gradient(from 330deg at 50% 50%, #FFFFFF, #1d3a3d);
  }

  91.687% {
    background: conic-gradient(from 331deg at 50% 50%, #FFFFFF, #1d3a3d);
  }

  91.964% {
    background: conic-gradient(from 332deg at 50% 50%, #FFFFFF, #1d3a3d);
  }

  92.241% {
    background: conic-gradient(from 333deg at 50% 50%, #FFFFFF, #1d3a3d);
  }

  92.518% {
    background: conic-gradient(from 334deg at 50% 50%, #FFFFFF, #1d3a3d);
  }

  92.795% {
    background: conic-gradient(from 335deg at 50% 50%, #FFFFFF, #1d3a3d);
  }

  93.072% {
    background: conic-gradient(from 336deg at 50% 50%, #FFFFFF, #1d3a3d);
  }

  93.349% {
    background: conic-gradient(from 337deg at 50% 50%, #FFFFFF, #1d3a3d);
  }

  93.626% {
    background: conic-gradient(from 338deg at 50% 50%, #FFFFFF, #1d3a3d);
  }

  93.903% {
    background: conic-gradient(from 339deg at 50% 50%, #FFFFFF, #1d3a3d);
  }

  94.180% {
    background: conic-gradient(from 340deg at 50% 50%, #FFFFFF, #1d3a3d);
  }

  94.457% {
    background: conic-gradient(from 341deg at 50% 50%, #FFFFFF, #1d3a3d);
  }

  94.734% {
    background: conic-gradient(from 342deg at 50% 50%, #FFFFFF, #1d3a3d);
  }

  95.011% {
    background: conic-gradient(from 343deg at 50% 50%, #FFFFFF, #1d3a3d);
  }

  95.288% {
    background: conic-gradient(from 344deg at 50% 50%, #FFFFFF, #1d3a3d);
  }

  95.565% {
    background: conic-gradient(from 345deg at 50% 50%, #FFFFFF, #1d3a3d);
  }

  95.842% {
    background: conic-gradient(from 346deg at 50% 50%, #FFFFFF, #1d3a3d);
  }

  96.119% {
    background: conic-gradient(from 347deg at 50% 50%, #FFFFFF, #1d3a3d);
  }

  96.396% {
    background: conic-gradient(from 348deg at 50% 50%, #FFFFFF, #1d3a3d);
  }

  96.673% {
    background: conic-gradient(from 349deg at 50% 50%, #FFFFFF, #1d3a3d);
  }

  96.950% {
    background: conic-gradient(from 350deg at 50% 50%, #FFFFFF, #1d3a3d);
  }

  97.227% {
    background: conic-gradient(from 351deg at 50% 50%, #FFFFFF, #1d3a3d);
  }

  97.504% {
    background: conic-gradient(from 352deg at 50% 50%, #FFFFFF, #1d3a3d);
  }

  97.781% {
    background: conic-gradient(from 353deg at 50% 50%, #FFFFFF, #1d3a3d);
  }

  98.058% {
    background: conic-gradient(from 354deg at 50% 50%, #FFFFFF, #1d3a3d);
  }

  98.335% {
    background: conic-gradient(from 355deg at 50% 50%, #FFFFFF, #1d3a3d);
  }

  98.612% {
    background: conic-gradient(from 356deg at 50% 50%, #FFFFFF, #1d3a3d);
  }

  98.889% {
    background: conic-gradient(from 357deg at 50% 50%, #FFFFFF, #1d3a3d);
  }

  99.166% {
    background: conic-gradient(from 358deg at 50% 50%, #FFFFFF, #1d3a3d);
  }

  99.443% {
    background: conic-gradient(from 359deg at 50% 50%, #FFFFFF, #1d3a3d);
  }

  99.720% {
    background: conic-gradient(from 360deg at 50% 50%, #FFFFFF, #1d3a3d);
  }

  100% {
    background: conic-gradient(from 0deg at 50% 50%, #FFFFFF, #1d3a3d);
  }
}

/* Body */

body{
  background-color: #D5F5E3;
  font-family: Helvetica Neue, Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.heading{
  font-size: 50px;
  font-family: "Mont Blanc-Trial";
}

.landingContent{
  font-style: italic;
  font-size: 16px;
}

.our-services{
  font-size: 45px;
  font-style: italic;
}

/* Nav Bar styles */
.navBar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  z-index: 1000;
  '''background-color: #FAF9F6;'''
}

.navBar h1 {
  margin: 0;
}

.navBar button {
  background-color: transservices;
  border: none;
  cursor: pointer;
  padding: 5px 10px;
  margin-left: 10px; /* Add margin for spacing */
}

.navBar button:first-child {
  margin-left: 0; /* Remove margin for the first button */
}

.navBar button:hover {
  background-color: #FAF9F6;
}

.navItems {
  --font-color-dark: #323232;
  --font-color-light: #fff;
  --bg-color: #fff;
  --main-color: #323232;
  --secondary-color: #505050;
  position: relative;
  width: 350px;
  height: 36px;
  background-color: var(--bg-color);
  border: 2px solid var(--main-color);
  border-radius: 34px;
  display: flex;
  flex-direction: row;
  box-shadow: 4px 4px var(--main-color);
}

.option {
  margin-right: 5px;
  width: 80.5px;
  height: 28px;
  position: relative;
  top: 2px;
  left: 2px;
  border-radius: 34px;
  transition: 0.25s cubic-bezier(0, 0, 0, 1);
}

.option:last-child {
  margin-right: 4px;
}

.option:hover {
  background-color: var(--secondary-color);
}

.option:hover .span {
  color: var(--font-color-light);
}

.input {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  appearance: none;
  cursor: pointer;
}

.btn {
  width: 100%;
  height: 100%;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.span {
  color: var(--font-color-dark);
}

.input:checked + .btn {
  background-color: var(--main-color);
  transition: 0.2s cubic-bezier(0, 0, 0, 1);
}

.input:checked + .btn .span {
  color: var(--font-color-light);
  transition: 0.25s cubic-bezier(0, 0, 0, 1);
}


/* Service Card Styles */



.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.services {
  width: 290px;
  height: 300px;
  perspective: 1000px;
  margin-bottom: 20px; /* Adjust spacing between cards */
}

/* Your existing card styles */

.card {
  height: 100%;
  border-radius: 50px;
  background: linear-gradient(135deg, rgb(0, 255, 214) 0%, rgb(8, 226, 96) 100%);
  transition: all 0.5s ease-in-out;
  transform-style: preserve-3d;
  box-shadow: rgba(5, 71, 17, 0) 40px 50px 25px -40px, rgba(5, 71, 17, 0.2) 0 25px 25px -5px;
}

.glass {
  transform-style: preserve-3d;
  position: absolute;
  inset: 8px;
  border-radius: 55px;
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.349) 0%, rgba(255, 255, 255, 0.815) 100%);
  /* -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px); */
  transform: translate3d(0px, 0px, 25px);
  border-left: 1px solid white;
  border-bottom: 1px solid white;
  transition: all 0.5s ease-in-out;
}

.content {
  padding: 100px 60px 0 30px;
  transform: translate3d(0, 0, 26px);
}

.content .title {
  display: block;
  color: #00894d;
  font-weight: 900;
  font-size: 20px;
}

.content .text {
  display: block;
  color: rgba(0, 137, 78, 0.7647058824);
  font-size: 15px;
  margin-top: 20px;
}

.logo {
  position: absolute;
  right: 0;
  top: 0;
  transform-style: preserve-3d;
}

.logo .circle {
  display: block;
  position: absolute;
  aspect-ratio: 1;
  border-radius: 50%;
  top: 0;
  right: 0;
  box-shadow: rgba(100, 100, 111, 0.2) -10px 10px 20px 0;
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  background: rgba(0, 249, 203, 0.2);
  transition: all 0.5s ease-in-out;
}

.logo .circle1 {
  width: 170px;
  transform: translate3d(0, 0, 20px);
  top: 8px;
  right: 8px;
}

.logo .circle2 {
  width: 140px;
  transform: translate3d(0, 0, 40px);
  top: 10px;
  right: 10px;
  -webkit-backdrop-filter: blur(1px);
  backdrop-filter: blur(1px);
  transition-delay: 0.4s;
}

.logo .circle3 {
  width: 110px;
  transform: translate3d(0, 0, 60px);
  top: 17px;
  right: 17px;
  transition-delay: 0.8s;
}

.logo .circle4 {
  width: 80px;
  transform: translate3d(0, 0, 80px);
  top: 23px;
  right: 23px;
  transition-delay: 1.2s;
}

.logo .circle5 {
  width: 50px;
  transform: translate3d(0, 0, 100px);
  top: 30px;
  right: 30px;
  display: grid;
  place-content: center;
  transition-delay: 1.6s;
}

.logo .circle5 .svg {
  width: 20px;
  fill: white;
}

.services:hover .card {
  transform: rotate3d(1, 1, 0, 30deg);
  box-shadow: rgba(5, 71, 17, 0.3) 30px 50px 25px -40px, rgba(5, 71, 17, 0.1) 0 25px 30px 0;
}

.services:hover .card  .social-buttons-container .social-button {
  transform: translate3d(0, 0, 50px);
  box-shadow: rgba(5, 71, 17, 0.2) -5px 20px 10px 0;
}

.services:hover .card .logo .circle2 {
  transform: translate3d(0, 0, 60px);
}

.services:hover .card .logo .circle3 {
  transform: translate3d(0, 0, 80px);
}

.services:hover .card .logo .circle4 {
  transform: translate3d(0, 0, 100px);
}

.services:hover .card .logo .circle5 {
  transform: translate3d(0, 0, 120px);
}


/* Footer styles */
footer {
  background-color: #222222;
  color: #fff;
  padding: 50px 0;
  width: 100%;
  box-sizing: border-box;
  display: flex; /* Ensure the footer behaves as a flex container */
  flex-direction: column; /* Arrange children vertically */
  align-items: center; /* Center children horizontally */
  margin: 0;
}

.footer-content {
  width: 100%; /* Ensure the content spans the full width */
  max-width: 1200px; /* Limit the content width for larger screens */
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; /* Spread content evenly */
  margin: 0 auto; /* Center the content horizontally */
  padding: 0 20px;
}

.footer-section {
  flex: 1;
  padding: 0 90px;
}

.footer-section h2 {
  font-size: 1.5em;

}

.footer-section ul {
  list-style: none;
  padding: 0;
}

.footer-section ul li {
  margin-bottom: 10px;
}

.footer-section ul li a {
  color: #fff;
  text-decoration: none;
}

.footer-bottom {
  width: 100%;
  max-width: 1200px;
  text-align: center;
  padding-top: 10px;
  border-top: 1px solid #666;
}

/* Socials Footer button */
.button-container {
  display: flex;
}

ul {
  list-style: none;
}

.social-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
}
.social-buttons .icon-content {
  margin: 0 10px;
  position: relative;
}
.social-buttons .icon-content .tooltip {
  position: absolute;
  top: -30px;
  left: 50%;
  transform: translateX(-50%);
  color: #fff;
  padding: 6px 10px;
  border-radius: 5px;
  opacity: 0;
  visibility: hidden;
  font-size: 14px;
  transition: all 0.3s ease;
}
.social-buttons .icon-content:hover .tooltip {
  opacity: 1;
  visibility: visible;
  top: -50px;
}
.social-buttons .icon-content a {
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  color: #4d4d4d;
  background-color: #fff;
  transition: all 0.3s ease-in-out;
}
.social-buttons .icon-content a:hover {
  box-shadow: 3px 2px 45px 0px rgb(0 0 0 / 12%);
}
.social-buttons .icon-content a svg {
  position: relative;
  z-index: 1;
  width: 30px;
  height: 30px;
}
.social-buttons .icon-content a:hover {
  color: white;
}
.social-buttons .icon-content a .filled {
  position: absolute;
  top: auto;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0;
  background-color: #000;
  transition: all 0.3s ease-in-out;
}
.social-buttons .icon-content a:hover .filled {
  height: 100%;
}

.social-buttons .icon-content a[data-social="linkedin"] .filled,
.social-buttons .icon-content a[data-social="linkedin"] ~ .tooltip {
  background-color: #0274b3;
}

.social-buttons .icon-content a[data-social="github"] .filled,
.social-buttons .icon-content a[data-social="github"] ~ .tooltip {
  background-color: #24262a;
}
.social-buttons .icon-content a[data-social="instagram"] .filled,
.social-buttons .icon-content a[data-social="instagram"] ~ .tooltip {
  background: linear-gradient(
    45deg,
    #405de6,
    #5b51db,
    #b33ab4,
    #c135b4,
    #e1306c,
    #fd1f1f
  );
}
.social-buttons .icon-content a[data-social="youtube"] .filled,
.social-buttons .icon-content a[data-social="youtube"] ~ .tooltip {
  background-color: #ff0000;
}


#container3D canvas {
  width: 100vw !important;
  height: 100vh !important;
  position: absolute;
  top: 0;
  left: 0;
}
